

#history-v4 .row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
}


#history-v4 .box.excerpt {
		position: relative;
		overflow: hidden;
	}

  #history-v4 .box.excerpt header {
			margin: 0 0 1em 0;
		}

    #history-v4 .box.excerpt header span {
			color: #203e64;
		}

    #history-v4 .box.excerpt header h3 {
			color: #203e64;
      text-transform: capitalize;
		}

		#history-v4 .box.excerpt .image, #history-v4 .box.excerpt p {
			margin-bottom: 0;
      color: #203d64d3;
		}

    #history-v4 .box.feature1 {
      text-align: center;
    }
  
    #history-v4 .box.feature1 header {
        margin-bottom: 3em;
      }
  
      #history-v4 .box.feature1 header.first h2 {
          font-size: 2.5em;
        }
  
        #history-v4 .box.feature1 header.first p {
          font-size: 1.2em;
        }
  
        #history-v4 .box.feature1 header.second {
          position: relative;
          display: inline-block;
          text-align: left;
          margin: 0 auto;
          white-space: nowrap;
          left: 24px;
        }
  
        #history-v4 .box.feature1 header.second p {
            line-height: 1em;
          }
  
          #history-v4 .box.feature1 header.second:before {
            font-size: 48px;
            position: absolute;
            right: 100%;
            margin-right: 18px;
            opacity: 0.5;
            bottom: -4px;
          }
  
          #history-v4 .box.feature2 {
      text-align: center;
    }
  
    #history-v4 .box.article-list article {
      border-bottom: solid 5px #e0e0e0;
      margin: 0 0 2.75em 0;
      padding: 0 0 2.75em 0;
    }


      /* Image */

      #history-v4 .image {
		position: relative;
		display: inline-block;
	}

  #history-v4 .image img {
			display: block;
			width: 100%;
			border-radius: 8px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
		}

		#history-v4 .image:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			background: url("images/bg01.png");
			width: 100%;
			height: 100%;
			opacity: 0.75;
		}

		#history-v4 .image.fit {
			display: block;
			width: 100%;
		}

		#history-v4 .image.featured {
			display: block;
			width: 100%;
			margin: 0 0 2.5em 0;
		}

		#history-v4 .image.left {
			float: left;
			margin: 0 0 2em 0;
		}

		#history-v4 .image.centered {
			display: block;
			margin: 0 0 2.5em 0;
		}

    #history-v4 .image.centered img {
				margin: 0 auto;
				width: auto;
			}

      #history-v4 .date {
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.065em;
        font-size: 1.2em;
        color: #696969;
        margin: 0 0 0.25em 0;
      }

      #history-v4 .wrapper {
  padding: 4em 0 7em 0;
}

#history-v4 .wrapper > .inner {
  position: relative;
}

#history-v4 .wrapper.style3 {
  position: relative;
  
  background-color: #fff;
  background-image: url("images/bg03.png"), url("images/bg02.png");
  background-repeat: no-repeat, repeat;
  background-size: 100% 15em, auto auto;
  background-position: top center, top left;
}

#history-v4 button {
  margin-top: 1.2em;
}

/* *************************************************** timeline starts here */


/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close1 {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close3 {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close4 {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close4:hover,
.close4:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #203e64;
  color: white;
}

.modal-header h2 {
  color: white;
}

.modal-body {
  padding: 2em 3em;

}

.modal-body li {
  padding-top: .4em;
  padding-bottom: .4em;
  font-size: 1em;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #203e64;
  color: white;
}
